html,
body {
	margin: 0;
	height: 100%;
}
.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 10px;
}
#wrapper {
	min-height: 100%;
	height: 100%;
}
.v-box {
	display: table;
	height: 100%;
	min-height: 100%;
	width: 100%;
}
.v-frame {
	display: table-cell;
	vertical-align: middle;
}
#header {text-align: center;}
.logo {
	display: inline-block;
	margin: 0 0 37px;
	width: 412px;
	vertical-align: top;
}
@media only screen and (max-width: 1024px) {
	.logo {
		margin: 0 0 20px;
		width: 300px;
	}
}
@media only screen and (max-width: 640px) {
	.logo {display: none;}
}
@media only screen and (max-height: 600px) {
	.logo {display: none;}
}
.logo img {
	display: block;
	height: auto;
	margin: 0 auto;
	width: 100%;
}
h1 {
	color: #fff;
	font: 37px/37px Verdana, Geneva, Arial, Helvetica,sans-serif;
	letter-spacing: 23px;
	margin: 0 0 -25px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
	h1 {font: 20px/30px Verdana, Geneva, Arial, Helvetica,sans-serif;}
}
h1 span {
	background: #008265;
	display: inline-block;
	padding: 6px 0 5px 17px;
	vertical-align: top;
}
@media only screen and (max-width: 999px) {
	h1 span {padding: 7px 0 3px 17px;}
}
@media only screen and (max-width: 768px) {
	h1 span {padding: 4px 0 6px 17px;}
}
@media only screen and (max-width: 640px) {
	h1 span {padding: 7px 0 3px 17px;}
}
#main {
	position: relative;
	width: 100%;
}
.frame-box {
	border: 1px solid #008063;
	padding: 40px 10px;
	text-align: center;
}
.frame-box .name {
	display: inline-block;
	overflow: auto;
	vertical-align: top;
	white-space: nowrap;
}