#oldwebsite body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#oldwebsite div{
	font-size:8pt;
	font-family:Verdana;
}
#oldwebsite td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#oldwebsite th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.footer{
	width:900px;
	float:left;
	margin-top:20px;
	background:#003366;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color:#cccccc;
	padding-top:15px;
	padding-bottom:15px;
}
.footer a:link, .footer a:active, .footer a:visited{
	color:#cccccc;
	text-transform:uppercase;
	font-size:7pt;
}
.footer a:hover{
	color:#6699CC;
	text-transform:uppercase;
	font-size:7pt;
}
.copyright{
	color:#6699CC;
	font-size:7pt;
}
.copyright a:link, .copyright a:active, .copyright a:visited{
	color:#6699CC;
	text-transform:none;
	font-size:7pt;
}
.copyright a:hover{
	color:#CCCCCC;
	text-transform:none;
	font-size:7pt;
}
.container{
	width:900px;
	margin:0px auto;
	text-align:left;
	align:center;
}
.header table{
	display:inline;
}
.globalNav{
	padding-top: 10px;
	padding-bottom: 21px;
	background: url('../images/design/pixel_lightBlue.gif');
	color:#ffffff;
	font-size:8pt;
	font-family: Verdana;
	padding-right: 32px;
}
.globalNav a:link, .globalNav a:active, .globalNav a:visited{
	color: #ffffff;
}
.globalNav a:hover{
	color: #003366;
}
.primNav td{
	text-transform: uppercase;
	text-align: center;
	font-weight:bold;
	font-size:9pt;
	padding:0px;
	padding-bottom:10px;
}
.primNav a:link, .primNav a:active, .primNav a:visited{
	color:#003366;
	text-decoration:none;
}
.primNav a:hover{
	color:#99ccff;
	text-decoration:underline;
}
.primNav img{
	padding-bottom: 5px;
	position: relative;
	top: -1px;
}
.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
#oldwebsite .infoMsg {
	font-weight: bold;
	color: #CC0000;
	/*font-family: "Times New Roman", Times, serif;
	font-size: 16px;*/
}
.reservationTitle {
	font-weight: bold;
}
.confMsg {
	font-weight: bold;
	color: #006600;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}
.errorText {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
}
#oldwebsite .entryTable {
	background-color: #CCCCFF;
	border: thin inset #003366;
}
#oldwebsite .entryTableHeading {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	font-size: small;
}
.appArea {
	background-color: #FFFFFF;
}
.expanded {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}
.viewTable {
	background-color: #DDDDFF;
	//border: thin inset #003366;
	border: thin inset #999999;
	font-size: small;
	font-weight: bold;
}
.viewTableCell {
	background-color: #DDDDFF;
	font-size: small;
	font-weight: bold;
}
.viewTableTitleCell {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003366;
	font-size: x-small;
	margin-right: 0px;
}
.entryTable {
	background-color: #CCCCFF;
	border: thin inset #003366;
}
.entryTableHeading {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	font-size: small;
}
.entryTableSummary {
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
	text-align: center;
	font-size: small;
}
.tbl1_RowEven {
	background-color: #DDDDFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}
.tbl1_RowOdd {
	background-color: #EEEEFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}

.top-text p {
    color: #369;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    padding-right: 228px;
    text-align: right;    
    margin-top:.3em;
    margin-bottom:.3em;
}
