/* 16.06.2015 responsive styles start */
.footer > .container{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}
@media only screen and (max-width: 1024px) {
	body{
		-webkit-text-size-adjust: 100%;
		background: #f3f3f3;
		min-width: 320px;
	}
	#oldwebsite {
		background: #fff;
		padding: 10px 0 20px;
	}
	#oldwebsite > div:first-child {margin-top: 90px !important;}
	#oldwebsite .big {
		display: block;
		margin: 6px 0 0;
		padding: 0 15px;
	}
	#oldwebsite > div > table > tr:nth-child(2) > td > table,
	#oldwebsite > div > table,
	#oldwebsite > table {
		border-collapse: collapse;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100% !important;
	}
	#oldwebsite #nav + div {margin: 5px 16px 0 0;}
	input.ui-button{padding: 0;}
	select{height: 24px;}
	.buttonClass3{font-size: 12px;}
	#ReviewJob #divReview a{color: #254117;}
	#JobConf #divReview a{color: #254117;}
	/* header styles start */
	#header{margin-bottom: 0;}
	#header .col-xs-4 {
		min-height: 90px;
		text-align: center;
		position: relative;
	}
	#dome-menu {
		top: 50%;
		margin: -5px 0 0;
		left: 15px;
	}
	#dome-menu img{vertical-align: top;}
	#header .img-responsive {
		margin-top: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -21px 0 0 -62px;
	}
	#header .img-responsive.right {
		margin: -34px 0 0;
		left: auto;
		right: 20px;
	}
	/* header styles end */
	/* nav styles start */
	#oldwebsite > div > table {
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-collapse: collapse;
	}
	.sf-shadow ul{
		background: none;
		padding: 0;
	}
	#nav li {width: 25%;}
	#nav li:first-child a{border-left: 0;}
	#nav .sub-menu li:first-child a{border-left: 1px solid #fff;}
	#responsive-menu {width: 50% !important;}
	/* nav styles end */
	/* ReviewJob styles start */
	#ReviewJob p a{color: #333;}
	/* ReviewJob styles end */
	/* JobConf styles start */
	#JobConf p{
		white-space: normal !important;
		word-wrap: normal !important;
	}
	#JobConf p a{
		color: #333;
	}
	/* JobConf styles end */
	/* US Car Prices styles start */
	#CarPrice {
		padding: 0 15px;
	}
	#CarPrice table{
		width: 100%;
		max-width: 720px;
	}
	/* US Car Prices styles end */
	/* ReviewJob styles start */
	#ReviewJob .textClass2{
		width: 280px;
	}
	#ReviewJob .rounded_by_jQuery_corners{
		background: #ccccff !important;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	#ReviewJob #divPayment,
	#ReviewJob #divReview{background: #ddddff !important;}
	/* ReviewJob styles end */
	/* CurJob styles start */
	#CurJob label{
		margin: 0;
		vertical-align: middle;
	}
	#txtJobDate{
		width: 86px !important;
		text-align: left;
		padding-left: 4px;
	}
	#divFare img + label,
	#image1,
	#cbAnimal,
	#cbBooster,
	#cbCarSeat{
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
	#divPassInfo #btnReview{line-height: 14px;}
	#getQuote {
		display: block;
		margin: 2px auto 0;
	}
	/* CurJob styles end */
	/* ReviewJob styles start */
	#divPayment table tr:first-child td{padding: 0 5px 0 0;}
	#divPayment #divFopCvv,
	#divPayment #txtCvv{margin: 0 0 0 -3px;}
	#divPayment table tr:first-child input {
		height: 24px;
	}
	#divPayment #tdSameAsPass{
		vertical-align: middle;
	}
	#divPayment #tdSameAsPass input[type="checkbox"]{margin: 0;}
	/* ReviewJob styles end */
	/* CarPrice styles start */
	#CarPrice #divMG td,
	#CarPrice .rounded td{vertical-align: middle;}
	#CarPrice #divMG input[type="radio"],
	#CarPrice #divMG label,
	#CarPrice .rounded input[type="radio"],
	#CarPrice .rounded label {
		margin-top: 0;
		margin-bottom: 0;
	}
	#CarPrice #divMG input[type="radio"]{
		vertical-align: middle;
		margin: -3px 3px 0 0 !important;
	}
	#CarPrice .rounded input[type="radio"] {
		margin: -1px 0 0 !important;
		vertical-align: middle;
	}
	#CarPrice .textClass{
		min-height: 18px;
		display: inline-block;
	}
	/* CarPrice styles end */
	/* ResList styles start */
	#trDateRange #txtDateFrom,
	#trDateRange #txtDateTo{width: 79px !important;}
	.entryTable{width: 100%;}
	.entryTable td{padding: 5px;}
	#ResList #btnSearch {
		border-radius: 5px;
		border: 0;
		font-weight: bold;
		height:25px;
		min-width: 63px;
		cursor: pointer;
		font-family: Tahoma;
		background: #C2DFFF;
		background: -moz-linear-gradient(top, #C2DFFF 1%, #EBF4FA 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #EBF4FA), color-stop(100%, #EBF4FA));
		background: -webkit-linear-gradient(top, #C2DFFF 1%, #EBF4FA 100%);
		background: -o-linear-gradient(top, #C2DFFF 1%, #EBF4FA 100%);
		background: -ms-linear-gradient(top, #C2DFFF 1%, #EBF4FA 100%);
		background: linear-gradient(to bottom, #C2DFFF 1%, #EBF4FA 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2DFFF', endColorstr='#EBF4FA', GradientType=0);
	}
	#ResList #txtDateFrom,
	#ResList #txtDateTo{
		line-height: 20px;
		padding-bottom: 1px;
		padding-left: 5px;
		padding-top: 1px;
	}
	#ResList .entryTable img{margin: 2px 0;}
	/* ResList styles end */
	/* fCustEmailPass styles start */
	#fCustEmailPass {padding: 0 0 7px;}
	#fCustEmailPass .entryTable{width: auto;}
	#fCustEmailPass .entryTable td{padding: 0;}
	#fCustEmailPass input[type="checkbox"] + font,
	#fCustEmailPass input[type="checkbox"]{
		vertical-align: middle;
		margin: 0;
		display: inline-block;
	}
	#fCustEmailPass #ClntEmailLogin{margin: 5px 0;}
	/* fCustEmailPass styles end */
	/* viewTable styles start */
	.viewTable .viewTableTitleCell > td{padding-left: 3px;}
	.viewTable #newPass1,
	.viewTable #newPass2{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}
	#ResList input[type="button"],
	#Userprofile input[type="button"],
	#UserCC input[type="button"],
	#ChangePassword {
		height: 24px;
		line-height: 25px;
	}
	#Userprofile input[disabled],
	#Userprofile input:disabled{
		color: #333 !important;
		color: rgba(51,51,51,0.6) !important;
		opacity: 1 !important;
	}
	#ChangePassword{margin: 2px 0 3px;}
	/* viewTable styles end */
	/* UserCC styles start */
	#creditCardTable select{height: 25px;}
	#creditCardTable .viewTableTitleCell td{padding: 0;}
	#creditCardTable{padding: 0 0 2px;}
	/* UserCC styles end */
	/* Userprofile styles start */
	#Userprofile .viewTable{padding: 0 0 4px;}
	#Userprofile input[type="text"]{
		line-height: 20px;
		padding-bottom: 1px;
		padding-top: 1px;
		width: 181px;
	}
	/* Userprofile styles end */
	/* footer styles start */
	#oldwebsite + table {
		border-collapse: collapse;
		width: 100%;
	}
	.footer {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
	.footer .container {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.footer .skype_c2c_text_span {text-transform: uppercase;}
	.footer span,
	.footer a{color: #b9b9b9 !important;}
	/* footer styles end */
}
@media only screen and (max-width: 1023px) {
	#fCustEmailPass input[type="checkbox"] + font{padding: 3px 0 0;}
	/* header styles start */
	#header .img-responsive.right{
		width: 192px;
		height: 52px;
		margin: -26px 0 0;
	}
	/* header styles end */
	/* ResList styles start */
	#ResList {
		padding: 0 15px;
	}
	#ResList > table{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-collapse: collapse;
		box-sizing: border-box;
		width: 100%;
	}
	#trDateRange table{
		width: auto !important;
	}
	/* ResList styles end */
}
@media only screen and (max-width: 768px){#fCustEmailPass input[type="checkbox"] + font{padding: 0;}}
@media only screen and (max-width: 767px) {
	#fCustEmailPass input[type="checkbox"] + font{padding: 3px 0 0;}
	.buttonClass3{font-size: 12px;}
	#oldwebsite > div > table > tbody > tr:nth-child(3) > td > table,
	#oldwebsite > div > table > tbody > tr:nth-child(2) > td > table{
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	/* header styles start */
	#header .img-responsive.right{
		width: 149px;
		height: 41px;
		margin: -20px 0 0;
	}
	/* header styles end */
	.rounded_by_jQuery_corners,
	.rounded_by_jQuery_corners div div,
	.rounded_by_jQuery_corners div{
		background: none !important;
	}
	#JobConf .rounded_by_jQuery_corners {
		background: #aacccc !important;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	/* JobConf styles start */
	#JobConf {padding: 0 15px;}
	/* JobConf styles end */
	/* US Car Prices styles start */
	#CarPrice div{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#divMG{white-space: normal;}
	.asd,
	.asd1{background: none;}
	#CarPrice .rounded_by_jQuery_corners{
		background: #ccccff !important;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	#CarPrice .asd1{
		margin: 0;
		width: 58%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#CarPrice .rounded_by_jQuery_corners:nth-child(40),
	#CarPrice .rounded_by_jQuery_corners:nth-child(36),
	#CarPrice .rounded_by_jQuery_corners:nth-child(32),
	#CarPrice .rounded_by_jQuery_corners:nth-child(28),
	#CarPrice .rounded_by_jQuery_corners:nth-child(24),
	#CarPrice .rounded_by_jQuery_corners:nth-child(20),
	#CarPrice .rounded_by_jQuery_corners:nth-child(16),
	#CarPrice .rounded_by_jQuery_corners:nth-child(12),
	#CarPrice .rounded_by_jQuery_corners:nth-child(8),
	#CarPrice .rounded_by_jQuery_corners:nth-child(4){background: #ddddff !important;}
	/* US Car Prices styles end */
	/* ReviewJob styles start */
	#ReviewJob {
		padding: 0 15px;
	}
	#ReviewJob table {
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		max-width: 610px;
	}
	#divPayment table tr:nth-child(3) table td{width: 50%;}
	#divPayment table tr:nth-child(3) table td:first-child{text-align: right;}
	/* ReviewJob styles end */
	/* fCustEmailPass styles start */
	#fCustEmailPass {padding: 0 0 7px;}
	#fCustEmailPass .entryTable{width: auto;}
	#fCustEmailPass .entryTable td{padding: 0;}
	/* fCustEmailPass styles end */
	/* footer styles start */
	.footer{
		padding-bottom: 7px;
	}
	.footer .mt-10{margin-top: 0;}
	/* footer styles end */
}
@media only screen and (max-width: 639px) {
	input[type="checkbox"] {margin: 0;}
	#oldwebsite {padding: 15px 0 9px;}
	/* header styles start */
	#header{
		position: static !important;
		height: auto;
	}
	#responsive-menu{
		min-width: 240px;
		width: 75% !important;
	}
	#header .col-xs-4{min-height: 62px;}
	#header .img-responsive{
		left: 50%;
		margin: -15px 0 0 -53px;
		width: 92px;
		height: 31px;
	}
	#dome-menu{
		left: 15px;
		overflow: hidden;
		width: 19px;
	}
	#header .img-responsive.right {
		left: auto;
		right: 15px;
		margin: -11px 0 0;
		width: 84px;
		height: 23px;
	}
	/* header styles end */
	/* nav styles start */
	#oldwebsite > div:first-child{margin-top: 0 !important;}
	#nav li{width: 100%;}
	#nav .sub-menu{
		position: static;
		padding: 0;
	}
	#nav .sub-menu li{text-align: center;}
	/* nav styles end */
	/* JobConf styles start */
	#JobConf > table,
	#JobConf div,
	#JobConf table{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		white-space: normal !important;
	}
	#divReview td{vertical-align: top;}
	#JobConf input[type="submit"]{
		display: inline-block;
		vertical-align: top;
		margin: 0 1px 4px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	/* JobConf styles end */
	/* CurJob styles start */
	#CurJob{padding: 0 15px;}
	#CurJob #divToAirport > table,
	#CurJob #divFromAddress > table,
	#CurJob > table,
	#CurJob .rounded > table,
	#CurJob .rounded {
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#CurJob table .rounded:nth-child(4) > table table td:first-child{padding: 0 0 2px;}
	#CurJob table .rounded:nth-child(4) > table table table td:first-child,
	#CurJob table table table td td{padding: 0 0 4px;}
	#CurJob table .rounded:nth-child(4){padding: 5px 5px 0 !important;}
	#CurJob table .rounded:nth-child(4) > table > tbody > tr:first-child > td:first-child > div {height: 0 !important;}
	#CurJob .rounded{
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		text-align: center;
	}
	#CurJob td{
		display: block;
		width: 100%;
	}
	#divDate,
	#divHours,
	#divMinutes,
	#divAmPm {min-width: 56px;}
	#CurJob #txtJobDate{margin-left: 2px;}
	#divDate,
	#txtJobDate,
	#trigger,
	#divHours,
	#ddJobTimeHour,
	#divMinutes,
	#ddJobTimeMinute,
	#divAmPm,
	#ddJobTimeAmPm{
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
	}
	#ddJobTimeHour,
	#ddJobTimeMinute,
	#ddJobTimeAmPm {width: 50px !important;}
	#divToAddress > table,
	#divFromAirport > table {
		width: 100%;
	}
	#tblAddr td{
		margin: 0;
		padding: 0;
		text-align: center;
	}
	#divPassInfo #txtCmmt{width: 97% !important;}
	#divFromAddress table div,
	#tdTo > table div,
	#tdFrom > table div,
	#divToAddress table div,
	#divFromAirport table div {
		padding: 2px 0 3px;
	}
	#CurJob #divPassInfo input,
	#CurJob #divPassInfo textarea{
		margin: 3px 0 0;
	}
	#CurJob #divPassInfo.rounded:nth-child(4) tr:first-child td:first-child > div{height: auto !important;}
	#CurJob #txtFromCityNme,
	#CurJob #txtToCityNme{
		margin: 0 0 5px;
		padding: 2px 23px 2px 2px;
	}
	#CurJob #divFare div{
		padding: 2px 0 4px;
	}
	#divPassInfo,
	#tblAddr input,
	#tblAddr select{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#divFare {
		text-align: center;
	}
	#divPassInfo textarea,
	#divPassInfo input,
	#divPassInfo select,
	#divFare input,
	#divFare select {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 100% !important;
	}
	#divPassInfo textarea,
	#divPassInfo input,
	#divPassInfo select{font-size: 12px;}
	#divPassInfo table,
	#divFare table{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#divFare td,
	#divPassInfo td{vertical-align: middle;}
	#divFare input[type="checkbox"]{
		width: 13px !important;
		margin: 0;
		vertical-align: middle;
	}
	#divFare label,
	#divPassInfo label {
		vertical-align: middle;
		margin: 0;
	}
	#divFare td{
		display: block;
		width: 100%;
		padding: 0 0 3px !important;
	}
	.TestStyle {float: none;}
	#divPassInfo td{
		font-size: 0;
		padding: 0 0 3px;
	}
	#divPassInfo td b{
		font-size: 12px;
	}
	#divPassInfo td div{font-size: 8pt;}
	#CurJob #divFromAddress tr:nth-child(3) td:nth-child(3) #image1,
	#CurJob #divToAddress tr:nth-child(3) td:nth-child(3) #image1{
		float: right;
		margin: -28px 2px 0 0;
		position: relative;
	}
	/* CurJob styles end */
	/* US Car Prices styles start */
	#CarPrice td{
		width: 100%;
		display: block;
	}
	#CarPrice .rounded_by_jQuery_corners .test,
	#CarPrice .rounded_by_jQuery_corners .test1{
		padding: 0 0 0 16px;
	}
	#CarPrice .rounded_by_jQuery_corners .test:first-child{padding: 0;}
	#CarPrice .label3{padding: 0;}
	#CarPrice .asd1{
		margin: 0;
		width: 100%;
	}
	#CarPrice .rounded input[type="radio"] {margin: -3px 0 0 !important;}
	#divMG .label1,
	#divMG .label2,
	#divMG .label3,
	#divMG .label4,
	#divMG .label5,
	#divMG .label6 {display: none;}
	#divMG1.label3 {display: block;}
	#CarPrice label {
		max-width: 75%;
		vertical-align: middle;
	}
	#CarPrice #btnBack + .textClass2{font-size: 11px;}
	#CarPrice .test1 label{vertical-align: top;}
	/* US Car Prices styles end */
	/* ReviewJob styles start */
	#ReviewJob table,
	#ReviewJob div{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#ReviewJob #divPayment td{
		width: 100%;
		display: block;
	}
	#divPayment{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#ReviewJob  #divPayment table tr:nth-child(3) table td{
		width: 50%;
		display: table-cell;
	}
	#ReviewJob  #divPayment table tr:nth-child(3) table td:first-child{text-align: right;}
	#divPayment > div{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#ReviewJob #divPayment table table tr:first-child td{padding: 0 0 5px;}
	#ReviewJob #ddFop,
	#ReviewJob #txtCCNum,
	#ReviewJob #txtCCHolder,
	#ReviewJob #txtCCExp,
	#ReviewJob #txtBlngZip,
	#ReviewJob #txtCvv,
	#ReviewJob #divFop,
	#ReviewJob #divFopNum,
	#ReviewJob #divFopHolder,
	#ReviewJob #divFopExp,
	#ReviewJob #divFopZip,
	#ReviewJob #divFopCvv{
		text-align: center;
	}
	#ReviewJob #ddFop,
	#ReviewJob #txtCCNum,
	#ReviewJob #txtCCHolder,
	#ReviewJob #txtCCExp,
	#ReviewJob #txtBlngZip,
	#ReviewJob #txtCvv{
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#ReviewJob #divFop,
	#ReviewJob #divFopNum,
	#ReviewJob #divFopHolder,
	#ReviewJob #divFopExp,
	#ReviewJob #divFopZip,
	#ReviewJob #divFopCvv{
		margin: 0 0 5px;
	}
	#ReviewJob #divPayment table table tr:first-child td {text-align: left;}
	#divReview {white-space: normal;}
	#divReview table table td{padding: 0 0 7px 5px;}
	#divReview table table td:first-child {padding: 0 0 7px;}
	#divReview td img,
	#divReview td{vertical-align: top;}
	#pCC{
		white-space: normal !important;
		word-wrap: normal !important;
	}
	/* ReviewJob styles end */
	/* ResList styles start */
	#trDateRange #trigger {margin: 0 1px 0 0;}
	/* ResList styles end */
	/* UserCC styles start */
	#UserCC {padding: 0 15px;}
	#creditCardTable{width: 100%;}
	#creditCardTable tr:nth-child(1){
		float: none;
		width: 100%;
	}
	#creditCardTable tr:nth-child(2) {display: none;}
	#creditCardTable td{
		width: 100%;
		display: block;
		text-align: center;
	}
	#creditCardTable .viewTableTitleCell td{
		display: table-cell;
		text-align: left;
	}
	#creditCardTable select{text-align: center;}
	#creditCardTable select,
	#creditCardTable input[type="text"] {
		width: 100% !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	#creditCardTable #ccUpdate_1,
	#creditCardTable #creditCard2 input[type="button"],
	#creditCardTable #ccNew_2,
	#creditCardTable input[type="text"],
	#creditCardTable select,
	#creditCardTable #ccEdit_1{margin: 0 0 4px;}
	/* UserCC styles end */
	/* footer styles start */
	.footer {padding-top: 16px;}
	.footer p{margin: 0 0 7px;}
	/* footer styles end */
}
@media only screen and (max-width: 599px){
	#fCustEmailPass input[type="checkbox"] + font{padding: 0;}
}
@media only screen and (max-width: 479px){
	#oldwebsite table tr:nth-child(2) form {padding: 0 15px;}
	#oldwebsite table tr:nth-child(2) form > table{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100% !important;
	}
	.viewTable .viewTableTitleCell {text-align: center;}
	.viewTable table td {
		width: 50%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 2px;
	}
	.viewTable .fieldTitle {vertical-align: top;}
	#newPass1,
	#newPass2 {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 0 4px;
		width: 100%;
	}
	#ChangePassword {
		margin: 0 0 5px;
	}
	/* ResList styles start */
	#ResList .entryTableHeading {display: none;}
	#ResList .entryTable td{
		display: block;
		text-align: center;
		width: 100%;
	}
	/* ResList styles end */
	/* Userprofile styles start */
	#Userprofile > table{width: 100%;}
	#Userprofile .viewTable table td {width: 50%;}
	#Userprofile input[type="text"] {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}
	/* Userprofile styles end */
}
/* 16.06.2015 responsive styles end */
/* error block styles start */
@media only screen and (max-width: 1024px){
	#currentJob_error {
		padding: 5px 0;
		width: 606px;
	}
	.topfailuremsgcontainer {
		margin: 0 auto;
		padding: 5px 5px 5px 50px;
		text-align: left;
		width: 504px;
	}
	.topfailuremsgcontainer li.currentJob_error_li{padding: 0 24px 0 0;}
	.topfailuremsgcontainer .float-right a{text-decoration: none;}
}
@media only screen and (max-width: 639px){
	#currentJob_error {
		margin: 13px 0;
		padding: 0;
		width: 100%;
	}
	.topfailuremsgcontainer {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 5px 7px 3px 9px;
		width: 100%;
	}
	.topfailuremsgcontainer li.currentJob_error_li {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 0 0 11px;
		padding: 0 11px 0 0;
		width: 100%;
	}
	.topfailuremsgcontainer .float-right {margin: 0 0 2px;}
}
/* error block styles end */