* {
  font-family: 'Open Sans', sans-serif;
}
@font-face {
  font-family: 'pala';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/palai_3.woff') format('woff'), url('../fonts/palai_3.ttf') format('truetype');
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
p {
  font-size: 18px;
}
ul li {
  font-size: 18px;
  margin-top: 10px;
}
#header {
  background: #eeeded;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
#menu-main-menu li {
  margin-top: 0px;
}
#menu-main-menu li a {
  font-size: 16px;
}
.page #responsive-menu {
  z-index: 10002;
  background: url(../images/nav.gif) repeat !important;
}
.page #responsive-menu #responsive-menu-title {
  background: transparent !important;
}
.page #responsive-menu .menu-main-menu-container {
  background: transparent !important;
}
.page #responsive-menu .responsive-menu li.current-menu-item > a {
  background: transparent !important;
}
.red-btn {
  background: #f04d3f;
  border: 0px;
}
.orange-btn {
  background: #f38900;
  border: 0px;
}
.green-btn {
  background: #00980c;
  border: 0px;
}
#click-menu {
  right: auto !important;
  z-index: 10001 !important;
  left: 20px;
  display: none !important;
}
#dome-menu {
  position: absolute;
  margin-top: 35px;
  margin-left: 20px;
  cursor: pointer;
}
.main-conteiner {
  background: #f7f5f5;
}
.slide {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
#booking-form {
  background: #80afcc;
  min-height: 74px;
}
#booking-form .form-control {
  font-size: 13px;
}
#booking-form .form-control.ui-autocomplete-input,
#booking-form .k-widget.k-header {height: 32px;}
#booking-form .mt-20 {margin-top: 21px;}
#booking-form .ui-autocomplete > li {
  font-size: 13px;
  line-height: 1.286em;
}
#booking-form .ui-autocomplete > li:hover {color: #fff !important;}
#booking-form input[type="text"] {
  color: #FFF !important;
  background: #80afcc;
  border: 1px solid #FFF;
  max-width: 100%;
}
#booking-form .btn {
  font-size: 13px;
  padding: 5px 8px;
}
#booking-form .red {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #ed1c24;
  border-radius: 6px;
  color: #fff;
  display: block;
  margin: 0 auto 15px;
  max-width: 167px;
  overflow: hidden;
  padding: 9px 12px 8px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
#booking-form .btn[disabled]{
  cursor: default;
  background: #ccc;
}
#booking-form .btn.uppercase {text-transform: uppercase;}
::-webkit-input-placeholder {
  color: #fff !important;
}
::-moz-placeholder {
  color: #fff !important;
}
:-ms-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder {
  color: #fff !important;
}
.k-animation-container ul li {font-size: 13px;}
#book-now-form {
  margin-top: -5px;
  margin-left: -15px;
  z-index: 1000;
  position: relative;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: auto;
}
.box .box-title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(232,232,232,0.9);
}
.box .box-title h2 {
  font-weight: 200;
  color: #5d5b5b;
  font-size: 32px;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  margin: 0px;
  width: 100%;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
}
.box .box-title h2 .fa {
  color: #5d5b5b;
}
.box:hover .box-content {
  margin-top: 0px !important;
}
.box .box-content {
  width: 100%;
  height: 0px;
  position: absolute;
  z-index: 3;
  background: #2389dd;
  transition: margin-top 0.06s linear 0.5s, opacity 0.5s linear;
}
.box .box-content p {
  color: #FFF;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  margin: 0px;
  width: 100%;
  top: 50%;
  text-align: center;
  display: block;
}
.box .box-content p .fa {
  font-size: 32px;
}
.center-title {
  font-weight: 200;
  color: #000000;
  font-size: 40px;
  text-align: center;
}
.fleet-title {
  font-style: italic;
  font-size: 32px;
  text-align: center;
  font-family: "pala";
}
#fleet-slider {
  background: url(../img/globe.png) no-repeat;
  background-size: 100%;
}
.big-title {
  font-size: 42px;
  color: #003e74;
  margin-top: 0px;
  font-weight: 400;
}
.big-title-thin {
  font-size: 42px;
  color: #003e74;
  margin-top: 0px;
  font-weight: 200;
  display: table-cell;
  vertical-align: middle;
}
.margin-right {
  margin-left: auto;
  margin-right: 0px;
}
#fleet-slider .carousel-indicators,
#fleet-slider2 .carousel-indicators {
  height: 3px;
  background: #a1d5ff;
  margin-left: 0px;
  left: 0px;
  bottom: 100px;
  width: 100%;
}
#fleet-slider .carousel-indicators li,
#fleet-slider2 .carousel-indicators li {
  width: 20px;
  height: 20px;
  background: #FFF !important;
  float: left;
  border: 3px solid #a1d5ff;
  margin-top: -8px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: -10px;
  position: relative;
  position: absolute;
}
#fleet-slider .carousel-indicators li:first-child,
#fleet-slider2 .carousel-indicators li:first-child {
  left: 0px;
}
#fleet-slider .carousel-indicators li:last-child,
#fleet-slider2 .carousel-indicators li:last-child {
  right: 0px;
}
#fleet-slider .carousel-indicators li:nth-child(2),
#fleet-slider2 .carousel-indicators li:nth-child(2) {
  left: 20%;
}
#fleet-slider .carousel-indicators li:nth-child(3),
#fleet-slider2 .carousel-indicators li:nth-child(3) {
  left: 40%;
}
#fleet-slider .carousel-indicators li:nth-child(4),
#fleet-slider2 .carousel-indicators li:nth-child(4) {
  left: 60%;
}
#fleet-slider .carousel-indicators li:nth-child(5),
#fleet-slider2 .carousel-indicators li:nth-child(5) {
  left: 80%;
}
#fleet-slider .carousel-indicators li.active,
#fleet-slider2 .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background: #3f7dae !important;
  margin-left: -10px;
}
#fleet-slider .carousel-indicators li span,
#fleet-slider2 .carousel-indicators li span {
  position: absolute;
  color: #000;
  font-size: 14px;
  font-weight: 200;
  text-indent: -2px;
  display: block;
  left: 50%;
  top: 25px;
}
#fleet-slider .carousel-indicators li span i,
#fleet-slider2 .carousel-indicators li span i {
  margin-right: 2px;
  visibility: hidden;
}
#fleet-slider2 .carousel-indicators {
  bottom: 30px;
}
#fleet-slider2 .carousel-indicators li:first-child {
  left: 0px;
}
#fleet-slider2 .carousel-indicators li:last-child {
  left: auto !important;
  right: 0px !important;
}
#fleet-slider2 .carousel-indicators li:nth-child(2) {
  left: 33%;
}
#fleet-slider2 .carousel-indicators li:nth-child(3) {
  left: 66%;
}
.info-box {
  border: 1px solid #cdcdcd;
  max-width: 375px;
  margin: auto;
  margin-bottom: 20px;
}
.info-box .info-box-title h1 {
  font-size: 22px;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 400;
}
.info-box .info-box-msg {
  padding: 20px;
  color: #000;
  font-size: 16px;
}
.footer {
  background: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright {
  font-size: 14px;
  color: #c2c2c2;
}
.social-icons {
  text-align: right;
}
.social-icons a {
  color: #c2c2c2;
  font-size: 36px;
  margin-right: 10px;
}
.social-icons a:hover {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
#menu-footer-menu {
  padding-left: 0px;
}
#menu-footer-menu li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
#menu-footer-menu li:first-child {
  margin-left: 0px;
}
#menu-footer-menu li a {
  color: #b9b9b9;
  font-size: 16px;
}
.box2 {
  background: #e1f4fd;
  margin-top: 20px;
}
.box2 .box2-title {
  background: #003e74;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
}
.box2 .box2-title h2 {
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
}
.box2 .box2-content {
  color: #0f1011;
  padding: 15px;
  font-weight: 400;
  font-size: 18PX;
  line-height: 24px;
}
.box2 .box2-content p {
  font-weight: 400;
  font-size: 18PX;
  line-height: 24px;
}
.box2 .box2-content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box2 .box2-content li {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
}
.box3 {
  float: left;
  width: 100%;
  padding: 10px;
  background: #fff0b8;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box3 .box3-image img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.box3 .box3-content p {
  margin-bottom: 0px;
  display: table-cell;
  vertical-align: middle;
}
.joinus {
  padding: 10px;
}
.joinus .joinus-title h2 {
  font-size: 19px;
  color: #003e74;
  text-align: center;
  margin-top: 5px;
}
.joinus .joinus-content p {
  margin-top: 10px;
}
.popup-content {
  display: none;
}
.box2-content .popup-content {
  display: block;
  background: #000;
  color: #FFF;
  padding: 20px;
  position: relative;
}
.box2-content a {
  cursor: pointer;
}
.popup-links a {
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
#hiding-form {
  display: none;
}
.close-button {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.popup-content .right {
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}
#carousel-example-generic2 {
  background: #e1f4fd;
  padding: 10px;
  padding-bottom: 25px;
}
#carousel-example-generic2 .carousel-indicators {
  bottom: -10px;
}
#carousel-example-generic2 .carousel-indicators li {
  border: 1px solid #000;
}
#carousel-example-generic2 .carousel-indicators li.active {
  background-color: #000;
}
.bws-rating {
  font-size: 0px;
  text-indent: -100000px;
  width: 100px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
  margin-right: auto;
  float: none;
}
ul.small-list li {
  margin-top: 10px !important;
}
.star5 {
  background: url(../img/stars.png) no-repeat 0px 0px;
}
.star4 {
  background: url(../img/stars.png) no-repeat 0px -20px;
}
.star3 {
  background: url(../img/stars.png) no-repeat 0px -40px;
}
.star2 {
  background: url(../img/stars.png) no-repeat 0px -60px;
}
.star1 {
  background: url(../img/stars.png) no-repeat 0px -80px;
}
.star0 {
  background: url(../img/stars.png) no-repeat 0px -100px;
}
#fleet-slider2 .big-title {
  font-size: 30px;
}
#fleet-slider2 .carousel-inner {
  min-height: 380px;
}
.k-widget {
  background-color: transparent !important;
  padding: 0px !important;
}
.k-reset {overflow: auto !important;}
.k-input {
  padding-top: 4px !important;
}
span.k-input {padding-top: 0 !important;}
@media (max-width: 991px) {
  .margin-right {
    margin-right: auto;
  }
  .big-title-thin {
    display: block;
    text-align: center;
    margin: auto;
  }
  #responsive-menu {
    width: 60% !important;
  }
}
@media (min-width: 200px) and (max-width: 660px) {
  .logo img {
    margin-top: 25px;
  }
  .book-now-logo {
    margin-top: 18px;
  }
}
@media (max-width: 767px) {
  #booking-form {
    height: auto;
    padding-bottom: 20px;
  }
  #fleet-slider .carousel-indicators {
    bottom: 20px;
  }
  #fleet-slider .carousel-indicators li span,
  #fleet-slider2 .carousel-indicators li span {
    display: none;
  }
  .social-icons {
    text-align: center;
  }
  .social-icons a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .copyright {
    text-align: center;
  }
  #menu-footer-menu {
    text-align: center;
  }
  #menu-footer-menu li {
    margin-left: 10px;
    float: none;
    display: inline-block;
  }
  #menu-footer-menu li a {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .box .box-title h2 {
    font-size: 20px;
  }
}
.lightbox {min-width: 600px;}
@media (min-width: 768px) and (max-width: 790px){
  .carousel-indicators li:first-child span {margin-left: -5px !important;}
  .carousel-indicators li:last-child span {margin-left: -73px !important;}
  .text-block.112 .btn,
  .text-block.travel-agents .btn,
  .text-block.meeting-planners .btn {font-size: 13px;}
}
@media (max-width: 767px) {
  .lightbox {min-width: 245px;}
}
.booking-car-price-table {padding: 0 0 43px;}
.booking-car-price-table {
  background: #f0f9fe;
  border-collapse: collapse;
  font-size: 13px;
  margin: 22px 0 27px;
  min-width: 280px;
  text-align: center;
  width: 100%;
}
.booking-car-price-table tbody tr:first-child.active td {
  border-top: 1px solid #dfecf4;
  padding-top: 6px;
}
.booking-car-price-table .even {background: #dfecf4;}
.booking-car-price-table .even.active,
.booking-car-price-table .active {
  background: #347ab8;
  color: #fff;
  font-weight: bold;
}
#booking-car-price-holder select,
#booking-car-price-holder .options,
#booking-car-price-holder .option {cursor: pointer;}
#booking-car-price-holder .option {margin: 2px 0 0;}
.booking-car-price-table .ico {
  display: inline-block;
  vertical-align: middle;
}
.booking-car-price-table .text {
  display: inline-block;
  vertical-align: middle;
}
.booking-car-price-table .ico.car {
  background: url(../images/ico-car.png) no-repeat;
  height: 16px;
  width: 44px;
}
.booking-car-price-table .ico.price {
  background: url(../images/ico-price.png) no-repeat;
  height: 22px;
  width: 22px;
}
.booking-car-price-table .ico.peoples {
  background: url(../images/ico-peoples.png) no-repeat;
  height: 21px;
  width: 26px;
}
.booking-car-price-table .ico.baggage {
  background: url(../images/ico-baggage.png) no-repeat;
  height: 18px;
  width: 23px;
}
.booking-car-price-table .btn-holder {padding: 19px 5px 5px;}
#booking-car-price-holder #choosemg {
  display: block;
  font-size: 13px;
  margin: 0 auto 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 270px;
  color: white;
}

#booking-car-price-holder select {
  display: block;
  font-size: 13px;
  margin: 0 auto 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 167px;
  color: black;
}
.booking-car-price-table th {
  background: #347ab8;
  color: #fff;
  text-align: center;
  padding: 9px 8px 7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.booking-car-price-table td {
  padding: 7px 5px 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.booking-car-price-table .col-2 {
  padding-left: 26px;
  text-align: left;
  width: 30%;
}
.k-ff .booking-car-price-table tbody tr.active:first-child td {padding-top: 7px;}
@media (max-width: 960px){
  .booking-car-price-table .active{font-weight: normal;}
}
@media (max-width: 767px) {
  .booking-car-price-table {padding: 0 0 11px;}
  #booking-form {padding-bottom: 18px;}
  .booking-car-price-table {
    margin: 14px 0;
    font-size: 12px;
    line-height: 14px;
  }
  #booking-form .form-control.ui-autocomplete-input {padding: 6px;}
  #booking-form .red {max-width: 100%;}
  .booking-car-price-table .text {display: none;}
  .booking-car-price-table th {padding: 9px 3px 7px;}
  .booking-car-price-table td {padding: 10px 3px 9px;}
  .booking-car-price-table .col-2 {
    padding-left: 3px;
    font-size: 11px;
  }
  #booking-form .red {
    max-width: 100%;
  }
  .booking-car-price-table .btn-holder {padding: 9px 0;}
  #booking-car-price-holder select {
    font-size: 12px;
    width: 100%;
    margin: 0 auto 14px;
  }
  #booking-form .mt-20 {margin-top: 17px;}
  .k-ff .booking-car-price-table tbody tr:first-child.active td {padding-top: 10px;}
}
.ui-autocomplete {
  width: 100% !important;
  min-width: 200px !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
  font-weight: normal !important;
  background: #80afcc !important;
  margin: 0 !important;
  border: none !important;
  color: inherit !important;
}
.loader-box {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  display: none;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}
.loader .loader-box {display: block;}
.loader-box img {
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
}
.menu-container {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
}
.data-form .form-control{
  display: block;
  width: 100%;
}
.data-form .form-control.error {color: #f00 !important;}
.data-form .form-control.error::-webkit-input-placeholder {color: #f00 !important;}
.data-form .form-control.error::-moz-placeholder {
  color: #f00 !important;;
  opacity: 1;
}
.data-form .form-control.error:-ms-input-placeholder {color: #f00 !important;}
/* datepicker styles start */
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #337ab7;
  border-color: #337ab7;
}
.k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active, .k-mobile-list .k-recur-view .k-check:active {
  background-color: #80afcc;
  border-color: #80afcc;
}
.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
  box-shadow: 0 0 3px 4px #337ab7 inset;
  -moz-box-shadow: 0 0 3px 4px #337ab7 inset;
  -webkit-box-shadow: 0 0 3px 4px #337ab7 inset;
}
/* datepicker styles end */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
  .booking-car-price-table .ico.car {
    background-image: url(../images/ico-car@2x.png);
    background-size: 44px 16px;
  }
  .booking-car-price-table .ico.price {
    background-image: url(../images/ico-price@2x.png);
    background-size: 22px 22px;
  }
  .booking-car-price-table .ico.peoples {
    background-image: url(../images/ico-peoples@2x.png);
    background-size: 26px 21px;
  }
  .booking-car-price-table .ico.baggage {
    background-image: url(../images/ico-baggage@2x.png);
    background-size: 23px 18px;
  }
}
