 
@font-face {
  font-family: 'pala';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/palai_3.woff') format('woff'), url('../fonts/palai_3.ttf') format('truetype');
}
#nw-header .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
#nw-header p {
  font-size: 18px;
}
#nw-header ul li {
  font-size: 18px;
  margin-top: 10px;
}
#header {
  background: #eeeded;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 10000;
  margin-bottom: 5px;
}
#menu-main-menu li {
  margin-top: 0px;
}
#menu-main-menu li a {
  font-size: 16px;
}
.page #responsive-menu {
  z-index: 10002;
  background: url(../img/nav.gif) repeat !important;
}
.page #responsive-menu #responsive-menu-title {
  background: transparent !important;
}
.page #responsive-menu .menu-main-menu-container {
  background: transparent !important;
}
.page #responsive-menu .responsive-menu li.current-menu-item > a {
  background: transparent !important;
}
.red-btn {
  background: #f04d3f;
  border: 0px;
}
.orange-btn {
  background: #f38900;
  border: 0px;
}
.green-btn {
  background: #00980c;
  border: 0px;
}
#click-menu {
  right: auto !important;
  z-index: 10001 !important;
  left: 20px;
  display: none !important;
}
#dome-menu {
  position: absolute;
  margin-top: 35px;
  margin-left: 20px;
  cursor: pointer;
}
.main-conteiner {
  background: #f7f5f5;
}
.slide {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
#booking-form {
  height: 74px;
  background: #80afcc;
}
#booking-form input[type="text"] {
  color: #FFF !important;
  background: #80afcc;
  border: 1px solid #FFF;
  max-width: 100%;
}
::-webkit-input-placeholder {
  color: #fff !important;
}
::-moz-placeholder {
  color: #fff !important;
}
:-ms-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder {
  color: #fff !important;
}
#book-now-form {
  margin-top: -5px;
  margin-left: -15px;
  z-index: 1000;
  position: relative;
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: auto;
}
.box .box-title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(232,232,232,0.9);
}
.box .box-title h2 {
  font-weight: 200;
  color: #5d5b5b;
  font-size: 32px;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  margin: 0px;
  width: 100%;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
}
.box .box-title h2 .fa {
  color: #5d5b5b;
}
.box:hover .box-content {
  margin-top: 0px !important;
}
.box .box-content {
  width: 100%;
  height: 0px;
  position: absolute;
  z-index: 3;
  background: #2389dd;
  transition: margin-top 0.06s linear 0.5s, opacity 0.5s linear;
}
.box .box-content p {
  color: #FFF;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
  margin: 0px;
  width: 100%;
  top: 50%;
  text-align: center;
  display: block;
}
.box .box-content p .fa {
  font-size: 32px;
}
.center-title {
  font-weight: 200;
  color: #000000;
  font-size: 40px;
  text-align: center;
}
.fleet-title {
  font-style: italic;
  font-size: 32px;
  text-align: center;
  font-family: "pala";
}
#fleet-slider {
  background: url(../img/globe.png) no-repeat;
  background-size: 100%;
}
.big-title {
  font-size: 42px;
  color: #003e74;
  margin-top: 0px;
  font-weight: 400;
}
.big-title-thin {
  font-size: 42px;
  color: #003e74;
  margin-top: 0px;
  font-weight: 200;
  display: table-cell;
  vertical-align: middle;
}
.margin-right {
  margin-left: auto;
  margin-right: 0px;
}
.carousel-indicators {
  height: 3px;
  background: #a1d5ff;
  margin-left: 0px;
  left: 0px;
  bottom: 100px;
  width: 100%;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  background: #FFF !important;
  float: left;
  border: 3px solid #a1d5ff;
  margin-top: -8px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: -10px;
  position: relative;
  position: absolute;
}
.carousel-indicators li:first-child {
  left: 0px;
}
.carousel-indicators li:last-child {
  right: 0px;
}
.carousel-indicators li:nth-child(2) {
  left: 25%;
}
.carousel-indicators li:nth-child(3) {
  left: 50%;
}
.carousel-indicators li:nth-child(4) {
  left: 75%;
}
.carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background: #3f7dae !important;
  margin-left: -10px;
}
.carousel-indicators li span {
  position: absolute;
  color: #000;
  font-size: 14px;
  font-weight: 200;
  text-indent: -2px;
  display: block;
  left: 50%;
  top: 25px;
}
.carousel-indicators li span i {
  margin-right: 2px;
  visibility: hidden;
}
.info-box {
  border: 1px solid #cdcdcd;
  max-width: 375px;
  margin: auto;
  margin-bottom: 20px;
}
.info-box .info-box-title h1 {
  font-size: 22px;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 400;
}
.info-box .info-box-msg {
  padding: 20px;
  color: #000;
  font-size: 16px;
}
.footer {
  background: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright {
  font-size: 14px;
  color: #c2c2c2;
}
.social-icons {
  text-align: right;
}
.social-icons a {
  color: #c2c2c2;
  font-size: 36px;
  margin-right: 10px;
}
.social-icons a:hover {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
#menu-footer-menu {
  padding-left: 0px;
}
#menu-footer-menu li {
  list-style: none;
  float: left;
  margin-left: 20px;
}
#menu-footer-menu li:first-child {
  margin-left: 0px;
}
#menu-footer-menu li a {
  color: #b9b9b9;
  font-size: 16px;
}
.box2 {
  background: #e1f4fd;
  margin-top: 20px;
}
.box2 .box2-title {
  background: #003e74;
  color: #FFF;
  padding-top: 5px;
  padding-bottom: 5px;
}
.box2 .box2-title h2 {
  font-size: 22px;
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
}
.box2 .box2-content {
  color: #0f1011;
  padding: 15px;
  font-weight: 400;
  font-size: 18PX;
  line-height: 24px;
}
.box2 .box2-content p {
  font-weight: 400;
  font-size: 18PX;
  line-height: 24px;
}
.box2 .box2-content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box2 .box2-content li {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
}
.box3 {
  float: left;
  width: 100%;
  padding: 10px;
  background: #fff0b8;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box3 .box3-image img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.box3 .box3-content p {
  margin-bottom: 0px;
  display: table-cell;
  vertical-align: middle;
}
.joinus {
  padding: 10px;
}
.joinus .joinus-title h2 {
  font-size: 19px;
  color: #003e74;
  text-align: center;
  margin-top: 5px;
}
.joinus .joinus-content p {
  margin-top: 10px;
}
.popup-content {
  display: none;
}
.box2-content .popup-content {
  display: block;
  background: #000;
  color: #FFF;
  padding: 20px;
  position: relative;
}
.box2-content a {
  cursor: pointer;
}
.popup-links a {
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
#hiding-form {
  display: none;
}
.close-button {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.popup-content .right {
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}
@media (max-width: 991px) {
  .margin-right {
    margin-right: auto;
  }
  .big-title-thin {
    display: block;
    text-align: center;
    margin: auto;
  }
  #responsive-menu {
    width: 60% !important;
  }
}
@media (min-width: 200px) and (max-width: 660px) {
  .logo img {
    margin-top: 25px;
  }
  .book-now-logo {
    margin-top: 18px;
  }
}
@media (max-width: 767px) {
  #booking-form {
    height: auto;
    padding-bottom: 10px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
  .carousel-indicators li span {
    display: none;
  }
  .social-icons {
    text-align: center;
  }
  .social-icons a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .copyright {
    text-align: center;
  }
  #menu-footer-menu {
    text-align: center;
  }
  #menu-footer-menu li {
    margin-left: 10px;
    float: none;
    display: inline-block;
  }
  #menu-footer-menu li a {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .box .box-title h2 {
    font-size: 20px;
  }
}
