/* Margin top */
.mt-0{
	margin-top:0px;
}
.mt-5{
	margin-top:5px;
}

.mt--5{
	margin-top:-5px;
}

.mt-10{
	margin-top:10px;
}

.mt-15{
	margin-top:15px;
}

.mt-20{
	margin-top:20px;
}
.mt-25{
	margin-top:25px;
}

.mt-30{
	margin-top:30px;
}

.mt-35{
	margin-top:35px;
}

.mt-40{
	margin-top:40px;
}

.mt-50{
	margin-top:50px;
}

.mt-70{
	margin-top:70px;
}

.mt-90{
	margin-top:90px;
}

/* Margin Right */
.mr-5{
	margin-right:5px;
}

.mr-10{
	margin-right:10px;
}

.mr-15{
	margin-right:15px;
}

.mr-20{
	margin-right:20px;
}

.mr-25{
	margin-right:25px;
}

.mr-30{
	margin-right:30px;
}

.mr-35{
	margin-right:35px;
}

.mr-40{
	margin-right:40px;
}

/* Margin Bottom */
.mb-5{
	margin-bottom:5px;
}

.mb-10{
	margin-bottom:10px;
}

.mb-15{
	margin-bottom:15px;
}

.mb-20{
	margin-bottom:20px;
}

.mb-25{
	margin-bottom:25px;
}

.mb-30{
	margin-bottom:30px;
}

.mb-35{
	margin-bottom:35px;
}

.mb-40{
	margin-bottom:40px;
}

/* Margin Left */
.ml-5{
	margin-left:5px;
}

.ml-10{
	margin-left:10px;
}

.ml-15{
	margin-left:15px;
}

.ml-20{
	margin-left:20px;
}

.ml-25{
	margin-left:25px;
}

.ml-30{
	margin-left:30px;
}

.ml-35{
	margin-left:35px;
}

.ml-40{
	margin-left:40px;
}

/* Padding Top */
.pt-5{
	padding-top:5px;
}

.pt-10{
	padding-top:10px;
}

.pt-15{
	padding-top:15px;
}

.pt-20{
	padding-top:20px;
}

.pt-25{
	padding-top:25px;
}

.pt-30{
	padding-top:30px;
}

/* Padding Bottom */
.pb-5{
	padding-bottom:5px;
}

.pb-10{
	padding-bottom:10px;
}

.pb-15{
	padding-bottom:15px;
}

.pb-20{
	padding-bottom:20px;
}

.pb-25{
	padding-bottom:25px;
}

.pb-30{
	padding-bottom:30px;
}

/* Padding Left */
.pl-5{
	padding-left:5px;
}

.pl-10{
	padding-left:10px;
}

.pl-15{
	padding-left:15px;
}

.pl-20{
	padding-left:20px;
}

.pl-25{
	padding-left:25px;
}

.pl-30{
	padding-left:30px;
}

/* Padding Right */
.pr-5{
	padding-right:5px;
}

.pr-10{
	padding-right:10px;
}

.pr-15{
	padding-right:15px;
}

.pr-20{
	padding-right:20px;
}

.pr-25{
	padding-right:25px;
}

.pr-30{
	padding-right:30px;
}

.margin-auto{
	margin-left:auto;
	margin-right:auto;
}

.uppercase{
	text-transform:uppercase;
}

.weight-light{
	font-weight:200;
}

.fl{
	float:left;
}

.pl-0{
	padding-left:0px;
}

.pr-0{
	padding-right:0px;
}

.right{
	float:right;
}

.left{
	float:left;
}